@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

/** {*/
/*  font-family: "Ubuntu", sans-serif;*/
/*}*/

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top,
    #bfbfbf 0%,
    #a8a8a8 50%,
    #a8a8a8 51%,
    #bfbfbf 100%);
}

.brand-logo a img{
    width: 4rem;
}

@media (max-width: 991px) {
    .brand-logo a img{
        width: 3rem;
    }
}

#logo {
  filter: brightness(300%);
}
#hero-area {
  background: rgb(32, 188, 229);
  background: radial-gradient(circle, rgba(32, 188, 229, 1) 0%, rgba(123, 168, 255, 1) 100%, rgba(32, 190, 197, 1) 100%);
}
#pendaftaran {
  margin-top: -40px;
  color: white !important;
}
#tombol-daftar {
  margin-top: 20px;
}
#slider {
  margin-top: 30px;
}

#revisi-logo {
  width: 100px !important;
}
#kolom-kanan {
  margin-right: 50px;
}
#testi {
  margin-top: 100px;
}
#info-pendaftaran {
  font-size: 0.8rem;
  padding: 5px 15px;
  border-radius: 2rem;
}
#container-info {
  margin-bottom: 30px;
}
#info-tanggal {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 10px;
}
#heroku {
  margin-top: -100px;
}

.container-fluid h1 {
  color: rgba(0, 0, 0, 0.4);
}
.container-fluid p {
  font-size: 3rem;
  font-weight: 500;
}

#tentang P {
  line-height: 55px;
  margin-bottom: 30px;
}
#baca-tok {
  border-radius: 1rem;
  font-size: 1rem;
}
#baca-tok:hover {
  background-color: aqua;
}
#videoku {
  margin-top: 50px;
}
.bg-tuna {
  background-color: rgb(0, 29, 66) !important;
}
#ikon-play {
  background-color: #20bce5;
}
#footerku img {
  width: 250px !important;
  filter: brightness(300%) !important;
}
#yes {
  margin-top: 150px !important;
  margin-bottom: 150px;
}
#sbg-wave path {
  fill: radial-gradient(circle, rgba(35, 116, 194, 1) 0%, rgba(0, 205, 230, 1) 100%);
}
#baca-selengkapnya {
  background: white !important;
  color: blue !important;
}
#video-profil {
  padding: 0;
}
#video-profil h1 {
  padding: 0;
  color: black;
}
#info-event {
  background: #20bce5;
  color: white;
}
#info-event p {
  font-weight: 200;
  font-size: 1rem;
}
#detail .card-body {
  color: black;
}
#detail {
  width: 14rem;
  border-radius: 20px;
}
#inspect {
  padding: 20px, 50px, 20px, 20px;
  color: white;
}
.bg-gold {
  background-image: #f7b708;
  background-image: radial-gradient(at 4% 13%, hsla(28, 100%, 50%, 1) 0, transparent 49%), radial-gradient(at 80% 7%, hsla(48, 100%, 50%, 1) 0, transparent 45%), radial-gradient(at 83% 76%, hsla(12, 83%, 52%, 1) 0, transparent 59%),
    radial-gradient(at 36% 90%, hsla(109, 80%, 77%, 1) 0, transparent 55%), radial-gradient(at 10% 1%, hsla(126, 79%, 66%, 1) 0, transparent 57%), radial-gradient(at 21% 40%, hsla(26, 97%, 67%, 1) 0, transparent 44%),
    radial-gradient(at 65% 50%, hsla(294, 77%, 76%, 1) 0, transparent 58%);
}
.bg-bronze {
  background-image: #c67e01;
  background-image: radial-gradient(at 4% 13%, hsla(28, 94%, 38%, 1) 0, transparent 49%), radial-gradient(at 80% 7%, hsla(47, 100%, 38%, 1) 0, transparent 45%), radial-gradient(at 83% 76%, hsla(24, 100%, 37%, 1) 0, transparent 59%),
    radial-gradient(at 36% 90%, hsla(0, 0%, 82%, 1) 0, transparent 55%), radial-gradient(at 10% 1%, hsla(126, 79%, 66%, 1) 0, transparent 57%), radial-gradient(at 21% 40%, hsla(26, 97%, 67%, 1) 0, transparent 44%),
    radial-gradient(at 65% 50%, hsla(294, 77%, 76%, 1) 0, transparent 58%);
}
.bg-silver {
  background-image: #ababab;
  background-image: radial-gradient(at 4% 13%, hsla(0, 0%, 77%, 1) 0, transparent 49%), radial-gradient(at 80% 7%, hsla(0, 0%, 93%, 1) 0, transparent 45%), radial-gradient(at 83% 76%, hsla(0, 3%, 39%, 1) 0, transparent 59%),
    radial-gradient(at 36% 90%, hsla(0, 0%, 42%, 1) 0, transparent 55%), radial-gradient(at 10% 1%, hsla(24, 3%, 49%, 1) 0, transparent 57%), radial-gradient(at 21% 40%, hsla(243, 17%, 77%, 1) 0, transparent 44%),
    radial-gradient(at 65% 50%, hsla(342, 20%, 80%, 1) 0, transparent 58%);
}
.pricing-table .professional-plan::before {
  background: white !important;
  background: radial-gradient(circle, rgba(255, 166, 0, 1) 0%, rgba(255, 149, 0, 1) 32%, rgba(255, 254, 123, 1) 58%, rgba(244, 183, 67, 1) 75%, rgba(230, 177, 0, 1) 100%) !important;
}
#icon-piala {
  font-size: 6rem;
  color: white;
}
#title-juara {
  color: white;
}
#myberanda::before {
  content: "" !important;
}
.bg-mesh-light {
  background-image: #ff99db;
  background-image: radial-gradient(at 19% 39%, hsla(227, 81%, 74%, 1) 0, transparent 53%), radial-gradient(at 97% 19%, hsla(15, 78%, 70%, 1) 0, transparent 53%), radial-gradient(at 9% 82%, hsla(3, 61%, 74%, 1) 0, transparent 54%),
    radial-gradient(at 7% 11%, hsla(351, 74%, 68%, 1) 0, transparent 42%), radial-gradient(at 56% 1%, hsla(14, 90%, 71%, 1) 0, transparent 57%), radial-gradient(at 18% 80%, hsla(117, 92%, 74%, 1) 0, transparent 59%),
    radial-gradient(at 19% 35%, hsla(299, 69%, 73%, 1) 0, transparent 48%);
}
.p-white {
  color: rgb(53, 53, 53);
  font-weight: 500;
}

.bg-instagram{
    background: #f09433 !important;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ) !important;
}
